/* Resetando algumas margens e padding */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Estilo geral do body */
body {
    font-family: 'Lato', sans-serif; /* Font-family */
    background-color: #f4f4f9; /* Cor de fundo */
    color: #333;
}

/* Barra de Navegação */
.navbar {
    background-color: #007bff; /* Azul */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

/* Estilo do botão de voltar */
.voltar-btn {
    font-size: 16px;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
}

/* Formulário de pesquisa */
.search-container {
    text-align: center;
    margin: 20px;
}

.search-container input {
    padding: 15px;
    width: 60%;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid #007bff;
    outline: none;
}

.search-container button {
    padding: 15px 30px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

/* Layout da Galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px;
    padding: 20px;
}

.imagem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .search-container input {
        width: 80%;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }
}

@media (max-width: 480px) {
    .search-container input {
        width: 90%;
    }

    .galeria {
        grid-template-columns: 1fr; /* 1 coluna em telas ainda menores */
    }
}
