{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Erro 500 - Erro Interno do Servidor</title>
    <link rel="stylesheet" href="{% static 'css/erro.css' %}">
</head>
<body>
    <div class="erro-container">
        <h1>500 - Erro Interno do Servidor</h1>
        <p>Desculpe, ocorreu um erro inesperado. Estamos trabalhando para resolver isso o mais rápido possível.</p>
        <a href="{% url 'dashboard' %}" class="btn-voltar">Voltar para a Página Inicial</a>
    </div>
</body>
</html>
