{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>INK AGENDA - Cadastro</title>
    <link rel="stylesheet" href="{%static 'css/stylecli.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-wrapper">
        <div class="left-panel">
            <a href="{%url 'login'%}" class="back-to-login"> < voltar a tela de login</a>

            <div class="container">
                <div class="cadastro-box">

                    {% if messages %}
                        <div class="feedback-messages">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}


                    <h2 class="sub-title">Cadastre-se</h2>

                    <form class="tat-forms" method="POST"> 
                        {% csrf_token %}
                        <p class="label-text">Seu nome</p>
                        <label class="label-input">
                            <i class="cad-nome-tat"></i>
                            <input type="text" placeholder="Ex. Mateus Zeferino" class="input-field" id="nome" name="first_name">
                        </label>
                        
                        <p class="label-text">Seu e-mail</p>
                        <label class="label-input">
                            <i class="cad-email-tat"></i>
                        <input type="email" placeholder="exemplo@email.com" class="input-field" id="email" name="email" required>
                        </label>


                        <p class="label-text">Sua senha</p>
                        <label class="label-input">
                            <i class="cad-senha-tat"></i>
                            <input type="password" placeholder="Sua senha" class="input-field" id="senha" name="senha">
                        </label>
                        <div class="senha">
                            <ul id="password-validator">
                                <li id="min-len">Mínimo de 8 letras</li>
                                <li id="letra">Pelo menos uma letra</li>
                                <li id="numero">Pelo menos um número</li>
                                <li id="car-especial">Pelo menos um caracter especial</li>
                                <li id="minus">Pelo menos uma letra minúscula</li>
                                <li id="maius">Pelo menos uma letra maiúscula</li>
                            </ul>
                        </div>

                        <div class="separator"></div>

                        <p class="label-text">Data de nascimento</p>
                        <label class="label-input">
                            <input type="date" class="input-field" id="data_nascimento" name="data_nascimento">
                            </label>
                        
                        <p class="label-text">Telefone</p>
                        <label class="label-input tel-input">
                            <span class="prefix">+55</span>
                            <input type="text" placeholder="Número" class="input-field" id="telefone">
                        </label>
                        
                        {% comment %} <div class="tipo-usuario">
                            <label class="radio-label">
                                <input type="radio" name="user_type" value="tatuador"> Sou tatuador
                            </label>
                            <label class="radio-label">
                                <input type="radio" name="user_type" value="cliente" checked> Sou cliente
                            </label>
                        </div> {% endcomment %}
                        
                        <button type="submit" class="registro">CADASTRAR</button>

                        </form>
                </div>
            </div>
        </div>

        <div class="right-panel">
        </div>
    </div>
    <script src="{% static 'js/validador.js' %}"></script>
</body>
</html>