{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Tatuagem</title>
    <link rel="stylesheet" href="{% static 'css/stylelogin.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="main-title">INK AGENDA</h1>
        <p class="main-slogan">Faça login para acessar o sistema</p>

        <div class="login"> <form>
                <div class="login-forms">
                    <span class="icon">👤</span>
                    <input type="text" placeholder="Nome de usuário ou e-mail">
                </div>
                <div class="login-forms">
                    <span class="icon">🔒</span>
                    <input type="password" placeholder="Senha">
                </div>

                <div class="opcoes">
                    <label>
                        <input type="checkbox"> Lembrar-me
                    </label>
                    <a href="#">Esqueci minha senha</a>
                </div>

                <button type="submit" class="login-btn">Entrar</button>
            </form>

            <div class="separator"></div>

            <p class="sem-conta">Não possui conta?</p>
            <a href="{% url 'cadastro_cliente'%}"><button class="registro">CADASTRE-SE COMO TATUADOR</button></a>
            <p></p>
            <a href="{% url 'cadastro_tatuador'%}"><button class="registro">CADASTRE-SE COMO CLIENTE</button></a>
        </div>
    </div>
</body>
</html>